.box{
    width: 50rem;
    padding: 10px;
    border: 5px dotted gray;
    height: 25rem;
     margin-top: 10rem;
     margin-left: 22rem;
}
.one{
    width: 15rem;
    height: 40px;
    border: 2px solid black;
    padding: 10px;
    
}
button{
    padding: 5px;
    margin-top: 5px;
    margin-left: 40px;
}